* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.home {
  background-color: #ced4da;
  background: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
}
.section-1 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url("https://i.vimeocdn.com/video/592465786-db15a318e9d4f67ce4f48595e38c8e9409e427fd81c04aecb5de0019b2feaae7-d?mw=1200&mh=678&q=70");
  color: #fff;
  background-size: cover;
  height: 100vh;
}
.header {
  height: 100vh;
}
.recent-blog-heading {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -3px;
  margin: auto;
}
/* Features section */

.feature-icon {
  display: flex;
  justify-content: center;
}
.homeBlog-Card {
  background-color: #72798067;
}
.btn-link {
  color: #fff;
}
.mycard {
  background-color: #ced4da36;
  box-shadow: 0 0 2px 0 rgb(70, 91, 92);
}
.mycard:hover {
  background-color: #e9ecef;
  box-shadow: 0 0 24px rgb(70, 91, 92);
}
.features-head {
  padding: 32px;
  background-color: #ced4da36;
  box-shadow: 0 0 24px rgb(70, 91, 92);
}
.features-h2 {
  font-size: 48px;
  font-weight: 600;
}
