* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.home {
  /* background: url("https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"); */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.316),
      rgba(34, 34, 34, 0.323)
    ),
    url("https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  color: #f1f3f5;
  font-family: "Inter", sans-serif;
}

.header {
  height: 100vh;
}
.recent-blog-heading {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -3px;
  margin: auto;
}
/* Features section */

.feature-icon {
  display: flex;
  justify-content: center;
}
.homeBlog-Card {
  background-color: #72798067;
}
.btn-link {
  color: #fff;
}
.mycard {
  background-color: #ced4da36;
  box-shadow: 0 0 2px 0 rgb(70, 91, 92);
}
.mycard:hover {
  background-color: #343a40;
  box-shadow: 0 0 24px rgb(70, 91, 92);
}
.features-head {
  padding: 32px;
  background-color: #ced4da36;
  box-shadow: 0 0 24px rgb(70, 91, 92);
}
.features-h2 {
  font-size: 48px;
  font-weight: 600;
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.9;

  transform: translateX(-50%) translateY(-50%);
}
header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
