.user-page {
  background-color: #ced4da;
  height: 100vh;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background: url("https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
}
.profile-card {
  margin-top: -20vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
